* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(207, 211, 214);
}
.pages {
  max-width: 1200px;
  margin: 0 auto;
}

/* ------------------------------------------- */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.workout-container {
  display: grid;
  gap: 22px;
  grid-template-columns: repeat(1, 1fr);
}

/* ---------------------------------------------------- */
.workoutForm-container {
  background-color: white;
  border-radius: 7px;
  margin: 0 6px;
  padding: 10px;
}
.card-text p {
  margin: 0;
  padding: 2px 0px;
}
/* ---------------------------------------------------------- */
